
<div id="addnewgrantwin" >

    <div class="easyui-tabs">
        <div title="月发放" style="padding:10px">
            <form method="post">
                <table class="formtable">
                    <tr>
                      <td>本次发放从:</td>
                       <td><input class="easyui-datebox" name="bgdate" style="width:100px"></td>
                       <td>到:</td>
                       <td><input class="easyui-datebox" name="eddate" style="width:100px"></td>
                    </tr>
                    <tr>
                        <td>调整金额:</td>
                        <td colspan="3"><input type="text" name="adjustmoney" value="0"></td>
                    </tr>
                </table>
            </form>

        </div>

        <div title="年末第13月发放"  style="padding:10px">
            <form type="year" method="post">
                <table class="formtable">
                    <tr>
                        <td>发放年份:</td>
                        <td><input name="grantdate" type="text"></td>
                    </tr>
                    <tr>
                        <td>
                            调整金额（元）：
                        </td>
                        <td>
                            <input type="text" value="0" name="adjustmoney">
                        </td>
                    </tr>

                </table>

            </form>
        </div>
    </div>



</div>