<fieldset><legend>电子附件信息</legend>
    <div>
        <table class="formtable" >
            <tr>
                <td><a class="affixfile" type="personid">【申请人】身份证(0)</a></td>
                <td><a class="affixfile" type="accountbook">【申请人】户口本(0)</a></td>

            </tr>
            <tr>
                <td><a class="affixfile">【申请人】残疾证(0)</a></td>
                <td><a class="affixfile">【申请人】疾病诊断书(0)</a></td>
            </tr>
            <tr>
                <td><a class="affixfile">【申请人】婚姻状况证明(0)</a></td>
                <td><a class="affixfile"> 【申请人】房产证明(0)</a></td>
            </tr>

        </table>
    </div>

</fieldset>
