<fieldset><legend>审批信息</legend>
    <div>
        <table class="formtable">
            <tr>
                <td>低保标准(元):</td>
                <td><input class="easyui-validatebox" type="text" name="poorstandard" data-options="required:true"></td>
                <td>救助证编号:</td>
                <td><input class="easyui-validatebox" type="text" name="aidnum" data-options="required:true"></td>
                <td>救助开始日期:</td>
                <td><input class="easyui-datebox" type="text" name="helpbgtime" data-options="required:true"></td>
            </tr>
            <tr>
                <td>救助结束日期:</td>
                <td><input class="easyui-datebox" type="text" name="helpedtime" data-options="required:true"></td>
                <td>享受人数:</td>
                <td><input class="easyui-validatebox" type="text" name="enjoyednum" readonly data-options="required:true"></td>
                <td>重残人数:</td>
                <td><input class="easyui-validatebox" type="text" name="disabledpersons" readonly data-options="required:true"></td>
            </tr>
            <tr>
                <td>总救助金额(元/月/户):</td>
                <td><input class="easyui-validatebox" type="text" name="totalhelpmoney" data-options="required:true"></td>
                <td>公示结束日期:</td>
                <td colspan="3"><input class="easyui-datebox" type="text" name="publicityedtm" data-options="required:true"></td>
            </tr>
            <tr>
                <td>救助原因:</td>
                <td colspan="5"><textarea name="helpreason" style="height:60px;width: 60%;"></textarea></td>
            </tr>
            <tr>
                <td>社区/村意见:</td>
                <td colspan="5">
                    <textarea name="villageopinion" style="height:60px;width: 60%;"></textarea>
                </td>
            </tr>
            <tr>
                <td>街道/乡镇意见:</td>
                <td colspan="5">
                    <textarea name="townopinion" style="height:60px;width: 60%;"></textarea>
                </td>
            </tr>
            <tr>
                <td>民政局意见:</td>
                <td colspan="5">
                    <textarea name="civilopinion" style="height:60px;width: 60%;"></textarea>
                </td>
            </tr>

        </table>
    </div>

</fieldset>