
<div id="checkwin" >
    <form method="post">
        <table class="formtable">
            <tr>
                <td><label >同意:</label><input type="radio"  name="approvalresult" value="同意" checked="true"/></td>
                <td><label>不同意:</label><input type="radio" name="approvalresult" value="不同意"/></td>
            </tr>
            <tr>
               <td><label>审批意见:</label></td>
               <td><textarea name="approvalopinion" style="width: 70%"> </textarea></td>
            </tr>
        </table>

    </form>
			</div>