<fieldset><legend>家庭财产信息</legend>
    <div>
        <table class="formtable">
            <tr>
                <td class="formtdtext">现金:</td>
                <td><input class="moneybasic"  type="text" name="cash"  value="0"></td>
                <td class="formtdtext">银行存款及有价证券:</td>
                <td><input class="moneybasic" type="text" name="banksecurities" value="0"></td>
                <td class="formtdtext">债权:</td>
                <td><input class="moneybasic" type="text" name="debt" value="0"></td>
            </tr>
            <tr>
                <td class="formtdtext">非生活机动车折价:</td>
                <td><input class="moneybasic" type="text" name="vehicle" value="0"></td>
                <td class="formtdtext">非居住房产折价:</td>
                <td><input class="moneybasic" type="text" name="nonresidentialhouse" value="0"></td>
                <td class="formtdtext">非生活必须类折价:</td>
                <td><input class="moneybasic" type="text" name="nolifeneededmachine" value="0"></td>
            </tr>
            <tr>
                <td class="formtdtext">商业保险:</td>
                <td><input  class="moneybasic" type="text" name="insurance" value="0" ></td>
                <td class="formtdtext">工商注册资金（资本）:</td>
                <td><input  class="moneybasic" type="text" name="registeredcapital" value="0" ></td>
                <td class="formtdtext">合计:</td>
                <td><input  class="moneybasic" type="text" name="propertysum" id="propertysum" value="0"></td>
            </tr>

        </table>
    </div>

</fieldset>
