<fieldset><legend>家庭收入信息</legend>
    <div>
        <table class="formtable">
            <tr>
                <td class="formtdtext">利息、股息、红利:</td>
                <td><input class="inputbasic"  type="text" name="interest"  value="0"></td>
                <td class="formtdtext">工资、薪金:</td>
                <td><input class="inputbasic" type="text" name="wages" value="0"></td>
                <td class="formtdtext">种植、养殖、捕捞:</td>
                <td><input class="inputbasic" type="text" name="planting" value="0"></td>
            </tr>
            <tr>
                <td class="formtdtext">离退休金、养老保险等:</td>
                <td><input class="inputbasic" type="text" name="pension" value="0"></td>
                <td class="formtdtext">承包经营:</td>
                <td><input class="inputbasic" type="text" name="management" value="0"></td>
                <td class="formtdtext">赡（抚、扶）养费:</td>
                <td><input class="inputbasic" type="text" name="alimony" value="0"></td>
            </tr>
            <tr>
                <td class="formtdtext">赔偿、继承、赠与、偶然所得:</td>
                <td><input  class="inputbasic" type="text" name="incidentalincome" value="0" ></td>
                <td class="formtdtext">劳务报酬:</td>
                <td><input  class="inputbasic" type="text" name="remuneration" value="0" ></td>
                <td class="formtdtext">各类生活补助:</td>
                <td><input  class="inputbasic" type="text" name="allowance" value="0"></td>
            </tr>
            <tr>
                <td class="formtdtext">生产经营、有偿服务:</td>
                <td><input  class="inputbasic" type="text" name="paidservices" value="0" ></td>
                <td class="formtdtext">财产租赁、转让:</td>
                <td><input  class="inputbasic" type="text" name="propertylease" value="0" ></td>
                <td class="formtdtext">其他:</td>
                <td><input  class="inputbasic" type="text" name="otherincome" value="0"></td>
            </tr>
            <tr>
                <td class="formtdtext">合计:</td>
                <td><input  class="inputbasic" type="text" name="incomesum" id="incomesum" value="0" ></td>
                <td class="formtdtext">家庭上年度月平均现金收入:</td>
                <td><input   type="text" name="incomesumarea" id="incomesumarea" readonly value="0" ></td>
                <td class="formtdtext">家庭上年度月人平均现金收入:</td>
                <td><input   type="text" name="incomesumareaperson" id="incomesumareaperson" readonly value="0"></td>
            </tr>

        </table>
    </div>

</fieldset>
