<fieldset><legend>住房信息</legend>
    <div >
        <table class="formtable">
            <tr>
                <td>住房性质:</td>
                <td><input  type="text" name="name" ></td>
                <td>住房结构:</td>
                <td><input  type="text" name="email" ></td>
                <td>住房人均建筑面积:</td>
                <td><input  type="text" name="email" ></td>
            </tr>
            <tr>
                <td>住房总使用面积(㎡):</td>
                <td><input type="text" name="email" data-options="required:true"></td>
                <td>住房人均使用面积(㎡):</td>
                <td><input type="text" name="email" data-options="required:true"></td>
            </tr>

        </table>
    </div>

</fieldset>