<fieldset ><legend>家庭成员信息</legend>
    <div id="familymembersdiv" title="家庭成员信息" >
        <table class="easyui-datagrid" title="家庭成员列表" id="familymembersgrid"
               style="height:150px;position:relative;"
               data-options="rownumbers:true,toolbar:'#familymembertb',singleSelect:true,showFooter: true">
            <thead data-options="frozen:true">
            <tr >
                <th data-options="field:'owership',width:210,editor:'text'">与户主关系</th>

            </tr>
            </thead>
            <thead>
            <tr>
                <th data-options="field:'owername',width:120,align:'center',editor:'text'">姓名</th>
                <th data-options="field:'unitcost',width:90,align:'right',editor:'text'">身份证</th>
                <th data-options="field:'attr1',width:250,editor:'text'">性别</th>
                <th data-options="field:'status',width:60,align:'center',editor:'text'">出生年月</th>
                <th data-options="field:'attr1',width:250,editor:'text'">性别</th>
                <th data-options="field:'status',width:60,align:'center',editor:'text'">出生年月</th>
                <th data-options="field:'attr1',width:250,editor:'text'">性别</th>
                <th data-options="field:'status',width:60,align:'center',editor:'text'">出生年月</th>
                <th data-options="field:'attr1',width:250,editor:'text'">性别</th>
                <th data-options="field:'status',width:60,align:'center',editor:'text'">出生年月</th>
            </tr>
            </thead>
        </table>
        <div id="familymembertb" style="height:auto">
            <a id="newfamilymemer_btn" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增家庭成员</a>
            <a id="delfamilymemer_btn" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true,disabled:false">删除家庭成员</a>
        </div>
    </div>


</fieldset>
