<fieldset><legend>住房信息</legend>
    <div >
        <table class="formtable">
            <tr>
                <td class="formtdtext">住房性质:</td>
                <td><input  type="text" name="houseproperties"
                            class="easyui-combobox lazy-combobox"
                            searchtype="dbglhouseproperties"
                            data-options="valueField: 'value',
                                         textField: 'label' "></td>
                <td class="formtdtext">住房结构:</td>
                <td><input  type="text" name="housestructure"
                            class="easyui-combobox lazy-combobox"
                            searchtype="dbglhousestructure"
                            data-options="valueField: 'value',
                                         textField: 'label' "></td>
                <td class="formtdtext">住房总建筑面积:</td>
                <td><input  type="text" name="housearea" ></td>
            </tr>
            <tr>
                <td class="formtdtext">住房人均建筑面积:</td>
                <td><input  type="text" name="houseaveragearea" ></td>
                <td class="formtdtext">住房总使用面积(㎡):</td>
                <td><input type="text" name="houseusearea" ></td>
                <td class="formtdtext">住房人均使用面积(㎡):</td>
                <td><input type="text" name="houseaverageusearea" ></td>
            </tr>

        </table>
    </div>

</fieldset>